<section class="first-contact-section">
    <div class="container">
        <div class="first-contact-section-box">
            <div class="email-form">
                <div class="stay-apdated">Stay updated</div>
                    <input type="email" placeholder="Your email address" class="email-input">
                <button class="email-button">
                <div class="email-button-icon"></div>
            </button>
            </div>
            <div class="find-us-box">
                <div class="find-us-text">Find us here</div>
              <div class="find-us-icon"><a href="#"><span class="facebook"></span></a></div>
                <div class="find-us-icon"><a href="#"><span class="twitter"></span></a></div>
                    <div class="find-us-icon"><a href="#"><span class="instagram"></span></a></div>
            </div>
            </div>
        </div>
</section>