<div class=clearence-container>
    <div class=clearence-center>
        <div class="clearence"><a href="#">
            <div class="clearence-text">
                <div class="clearence-text-clearence">clearence</div>
                <div class="clearence-text-box">
                    <div class="clearence-text-box-50">50</div>
                    <div class="clearence-text-box-persentoff-box">
                        <div class="clearence-text-box-persent">%</div>
                        <div class="clearence-text-box-off">off</div>
                    </div>
                </div>
            </div>
            <img src="../img/clearencebg.png" class="clearence-bg">
        </a></div>
    </div>
</div>