<section class="headersection">
    <div class="container">
        <div class="row">
            <div class="logo"><img src="img/logo.png" alt=""></div>
            <div class="cart-box md3">
                <form class="cart-box-form"><select type="text" class="cart-box-select">
                    <option>Your cart</option>
                </select></form>
                <div class="pocket-info">
                    <div class="pocket-info-icon"></div>
                    <div class="pocket-info-text">0 items</div>
                    <div class="pocket-info-text-2">$ 0</div>
                </div>
            </div>
        </div>
        <!--#insert file="navmenu/-navmenu.html"-->
    </div>
</section>