<footer class="footer">
   <div class="container row"> <ul class="footer-menu">
       <div class="footer-menu-box"> <li class="footer-menu-item">Privacy & Cookies</li>
        <li class="footer-menu-item">Terms & Conditions</li>
        <li class="footer-menu-item">Accessibility</li>
        <li class="footer-menu-item">Store Directory</li>
        <li class="footer-menu-item">About Us</li></div>
    </ul>
    <div class="text-box">
        <p class="text-box1">© LookShop.com</p>
        <p class="text-box2">All Rights Reserved</p>
    </div></div>
</footer>