<div id="slider" class="slider">
    <div class="slider-item">
        <div class="slider-item-container">
            <!--#insert file="crazysummer/-crazysummer.html"-->
            <img src="img/bannerpic1.png"></div>
    </div>
    <div class="slider-item">
        <div class="slider-item-container">
            <!--#insert file="crazysummer/-crazysummer.html"-->
            <img src="img/bannerpic1.png"></div>
    </div>
    <div class="slider-item">
        <div class="slider-item-container">
            <!--#insert file="crazysummer/-crazysummer.html"-->
            <img src="img/bannerpic1.png"></div>
    </div>
    <div class="slider-item">
        <div class="slider-item-container">
            <!--#insert file="crazysummer/-crazysummer.html"-->
            <img src="img/bannerpic1.png"></div>
    </div>
    <div class="slider-item">
        <div class="slider-item-container">
            <!--#insert file="crazysummer/-crazysummer.html"-->
            <img src="img/bannerpic1.png"></div>
    </div>
</div>
