<div id="slider" class="slider">
    <div class="slider-item"><div class="slider-item-container"><img src="img/bannerpic1.png"></div></div>
    <div class="slider-item"><div class="slider-item-container"><img src="img/bannerpic1.png"></div></div>
    <div class="slider-item"><div class="slider-item-container"><img src="img/bannerpic1.png"></div></div>
    <div class="slider-item"><div class="slider-item-container"><img src="img/bannerpic1.png"></div></div>
    <div class="slider-item"><div class="slider-item-container"><img src="img/bannerpic1.png"></div></div>
</div>
