.secondslidermenu{
  margin-top: 36px;
.slidermenu-fontsize {
  font-size: 0px;
  .secondslidermenu-item {
    font-size: 15px;
    color: #555555;
    display: inline-block;
    height: 47px;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
  }
  .active{
    color: @white;
    background-color: @bgcolor;
  }
}
}