<section class="generalmenu">
    <div class="container">
    <ul class = "generalmenu-box generalmenu-box1">
        <li class="generalmenu-title md4"><a href="#">Customer Service</a>
            <ul>
                <li class="generalmenu-item"><a href="#">Contact</a></li>
                <li class="generalmenu-item"><a href="#">FAQ</a></li>
                <li class="generalmenu-item"><a href="#">Terms of payment</a></li>
                <li class="generalmenu-item"><a href="#">Terms of sale</a></li>
                <li class="generalmenu-item"><a href="#">Delivery terms and conditions</a></li>
                <li class="generalmenu-item"><a href="#">Returns and Refunds</a></li>
            </ul></li>
        <li class="generalmenu-title md2"><a href="#">Information</a>
            <ul>
                <li class="generalmenu-item"><a href="#">Affiliat</a></li>
                <li class="generalmenu-item"><a href="#">Cookies</a></li>
                <li class="generalmenu-item"><a href="#">How to Shop</a></li>
                <li class="generalmenu-item"><a href="#">About Nelly</a></li>
                <li class="generalmenu-item"><a href="#">Investor relations</a></li>
            </ul>
        </li>
        <li class="generalmenu-title md4"><a href="#">Campaigns </a>
            <ul>
                <li class="generalmenu-item"><a href="#">Evening dresses</a></li>
                <li class="generalmenu-item"><a href="#">Makeup</a></li>
                <li class="generalmenu-item"><a href="#">Fashion forward</a></li>
                <li class="generalmenu-item"><a href="#">training clothes</a></li>
                <li class="generalmenu-item"><a href="#">Special Occasion Dresses</a></li>
            </ul></li>
        <li class="generalmenu-title md2"><a href="#">Stores</a>
            <ul>
                <li class="generalmenu-item"><a href="#">Paris</a></li>
                <li class="generalmenu-item"><a href="#">New York</a></li>
                <li class="generalmenu-item"><a href="#">London</a></li>
                <li class="generalmenu-item"><a href="#">Madrid</a></li>
                <li class="generalmenu-item"><a href="#">Tokio</a></li>
            </ul></li>
    </ul>
        <ul class="generalmenu-box generalmenu-box2">
            <li class="generalmenu-title social"><a href="#">Social</a>
                <ul>
                    <li class="generalmenu-item"><div class="social-icon footertwitericon"></div></a><a href="#"><div class="social-icon footerinstagramicon"></div></a><a href="#"><div class="social-icon footerfbicon"></div></a></li>
                    <li class="generalmenu-item"><a href="#"><div class="social-icon footergmailicon"></div></a><a href="#"><div class="social-icon footerticon"></div></a><a href="#"><div class="social-icon footervkicon"></div></a></li>
                </ul></li>
            <li class = 'generalmenu-title secured'><div class = 'secured-box'><div class="secured-icon"></div></div></li>
        </ul>
        </div>
</section>