<div class="row">
    <div class="col sm12">
        <div class="topline row">
            <div class="container">
                <div class="topline-custumcare">custom care: 123 456 789</div>
                <div class="topline-form md4 lg3">
                    <div class="topline-form-currensy">
                        <div class="topline-form-currensy-wrap">$US</div>
                    </div>
                    <div class="topline-form-contact">
                        <div class="account-icon"></div>
                        <div class="account-text">my account</div>
                    </div>
                    <div class="topline-form-search">
                        <div class="topline-form-search-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
