.topline {
  &-custumcare {
    background-color: white;
    color: #838383;
    font-size: 30/12rem;
    text-transform: uppercase;
    text-align: center;
    padding: 35px 0;
  }
  &-form{
    background-color: @black;
    color: @white;
  }
}
