<section class="realty">
    <div class="row">
        <div class="col sm12 lg12 md4">
            <div class="realty-cover">
                <img src="img/realtyItem.png">
            </div>
        </div>
        <div class="col sm12 lg12 md8">
            <div class="realty-info">
                <div class="realty-info-header">
                    <h1 class="realty-info-header-big">Населенный пункт</h1>
                    <p>Площадь дома: 125m2</p>
                    <p class="realty-info-header-big">7 000 000</p>
                </div>
                <div class="realty-info-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia impedit alias, quam iure at excepturi velit, veritatis soluta. Cum, sequi atque vitae soluta vero saepe illum at ut quisquam minima.</div>
            </div>
        </div>
    </div>
</section>