<div id="thirdslider" class="thirdslider">
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic1.png">
            <p class="thirdslider-item-p1">NADIA DRESS</p>
            <p class="thirdslider-item-p2">$64.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container sale">
            <div class="sale-icon"></div>
            <img src="img/thirdsliderpic2.png">
            <p class="thirdslider-item-p1">SOFI BLOUSE</p>
            <p class="thirdslider-item-p2">$26.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic4.png">
            <p class="thirdslider-item-p1">GOODING SHORTS</p>
            <p class="thirdslider-item-p2">$79.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic1.png">
            <p class="thirdslider-item-p1">NADIA DRESS</p>
            <p class="thirdslider-item-p2">$64.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container sale">
        <div class="sale-icon"></div>
            <img src="img/thirdsliderpic2.png">
            <p class="thirdslider-item-p1">SOFI BLOUSE</p>
            <p class="thirdslider-item-p2">$26.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic4.png">
            <p class="thirdslider-item-p1">GOODING SHORTS</p>
            <p class="thirdslider-item-p2">$79.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic1.png">
            <p class="thirdslider-item-p1">NADIA DRESS</p>
            <p class="thirdslider-item-p2">$64.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container sale">
            <div class="sale-icon"></div>
            <img src="img/thirdsliderpic2.png">
            <p class="thirdslider-item-p1">SOFI BLOUSE</p>
            <p class="thirdslider-item-p2">$26.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="thirdslider-item">
        <div class="thirdslider-item-container">
            <img src="img/thirdsliderpic4.png">
            <p class="thirdslider-item-p1">GOODING SHORTS</p>
            <p class="thirdslider-item-p2">$79.95</p>
            <button class="thirdslider-button">
                <div class="thirdslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
</div>
<button class="thirdslider-btnmore">load more</button>