<div class = secondslider-container>
    <!--#insert file="secondslidermenu/-secondslidermenu.html"-->
<div id="secondslider" class="secondslider">
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic1.png">
            <p class="secondslider-item-p1">MIMOSA LACE DRESS</p>
            <p class="secondslider-item-p2">$76.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container sale">
            <div class="sale-icon"></div>
            <img src="img/secondsliderpic2.png">
            <p class="secondslider-item-p1">FELL TANK</p>
            <p class="secondslider-item-p2">$59.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic4.png">
            <p class="secondslider-item-p1">PETROL SWEATER</p>
            <p class="secondslider-item-p2">$21.50</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic1.png">
            <p class="secondslider-item-p1">MIMOSA LACE DRESS</p>
            <p class="secondslider-item-p2">$76.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container sale">
            <div class="sale-icon"></div>
            <img src="img/secondsliderpic2.png">
            <p class="secondslider-item-p1">FELL TANK</p>
            <p class="secondslider-item-p2">$59.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic4.png">
            <p class="secondslider-item-p1">PETROL SWEATER</p>
            <p class="secondslider-item-p2">$21.50</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic1.png">
            <p class="secondslider-item-p1">MIMOSA LACE DRESS</p>
            <p class="secondslider-item-p2">$76.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container sale">
            <div class="sale-icon"></div>
            <img src="img/secondsliderpic2.png">
            <p class="secondslider-item-p1">FELL TANK</p>
            <p class="secondslider-item-p2">$59.95</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
    <div class="secondslider-item">
        <div class="secondslider-item-container">
            <img src="img/secondsliderpic4.png">
            <p class="secondslider-item-p1">PETROL SWEATER</p>
            <p class="secondslider-item-p2">$21.50</p>
            <button class="secondslider-button">
                <div class="secondslider-button-text">ADD TO COURT</div>
                <div class="plus-icon"></div>
            </button>
        </div>
    </div>
</div>
</div>